body {
  margin: 0;
  font-family: Arial;
  background: #121212;
  color: white;
}

header {
  background: #1db954;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.container {
  padding: 20px;
}

.card {
  background: #1e1e1e;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
}

input {
  padding: 8px;
  margin: 5px 0;
  border-radius: 8px;
  border: none;
  width: 100%;
}

button {
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  background: #1db954;
  color: white;
  cursor: pointer;
}